<!DOCTYPE html>
<html lang="ru">

<head>
    <!-- Метаданные -->
    <meta charset="UTF-8">
    <meta property="og:title" content="Meowlib">
    <meta property="og:description" content="Meowlib - Книжная онлайн-библиотека">
    <meta property="og:image" content="http://meowlib.online/static/img/logo.jpg">
    <meta property="og:url" content="http://meowlib.online">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/img/logo.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Meowlib</title>
    <style>
        [data-bs-theme="dark"] {
            color-scheme: dark;
        }
    </style>
    <script>
        // Javascript функция для переключения темы
        function toggleTheme() {
            const html = document.documentElement;
            const currentTheme = html.getAttribute('data-bs-theme');
            const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
            html.setAttribute('data-bs-theme', newTheme);
            localStorage.setItem('theme', newTheme);
        }

        document.addEventListener('DOMContentLoaded', () => {
            const savedTheme = localStorage.getItem('theme') || 'light';
            document.documentElement.setAttribute('data-bs-theme', savedTheme);
        });
    </script>
    {% block head %}{% endblock %}
</head>

<body>
    <!-- Меню навигации -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"><img src="/static/img/logo.jpg" width="35" height="35"
                    alt="meowlib.online"></a>
            <div class="collapse navbar-collapse justify-content-center">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item"><a class="nav-link" href="/">Главная</a></li>
                    {% if user_login %}
                    <li class="nav-item"><a class="nav-link" href="/add_book">Добавить книгу</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="d-flex">
                <button class="btn btn-outline-secondary me-2" onclick="toggleTheme()">
                    🌓
                </button>
                {% if user_login %}
                <span class="navbar-text me-2">Привет, {{ user_login }}</span>
                <a class="btn btn-outline-danger" href="/logout">Выход</a>
                {% else %}
                <a class="btn btn-outline-primary me-2" href="/login">Войти</a>
                <a class="btn btn-outline-secondary" href="/registration">Регистрация</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

</body>

</html>