{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if user_login == None %}
    <h3 class="text-center">Книг не найдено. <a href="/registration">Зарегистрируйтесь</a> или <a href="/login">
            войдите</a> для добавления книг</h3>
    {% elif books and books|length > 0 %}
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p class="card-text">{{ book.description[:100] }}...</p>
                    <a href="/book/{{ book.id }}" class="btn btn-primary">Детали</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center">Книг не найдено. Добавьте свою первую книгу!</h3>
    <a href="/add_book" class="col-4 offset-4 btn btn-success d-block mx-auto">Добавить книгу</a>
    {% endif %}
</div>
{% endblock %}