{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="container mt-4">
    {% if user_login == None %}
    <h3 class="text-center">Книг не найдено. <a href="/registration">Зарегистрируйтесь</a> или <a href="/login">
            войдите</a> для добавления книг</h3>
    {% elif books and books|length > 0 %}
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-3">
            <div class="card h-100 border-0 p-0">
                <div class="card-body">
                    <a href="/book/{{ book.id }}">
                        {% if book.cover_path %}
                        <img src="{{ book.cover_path }}" class="card-img-top" alt="Обложка книги">
                        {% else %}
                        <img src="/static/covers/default.png" class="card-img-top" alt="Обложка книги">
                        {% endif %}
                    </a>
                    <h3 class="card-title">{{ book.title[:30] }}</h3>
                    {% if book.author %}
                    <h5 class="card-subtitle mb-2 text-muted">{{ book.author[:100] }}</h5>
                    {% endif %}
                    {% if book.description %}
                    <p class="card-text">{{ book.description[:100] }}...</p>
                    {% endif %}
                    <div class="d-flex justify-content-between">
                        <a href="/book/{{ book.id }}" class="btn btn-primary">Подробнее</a>
                        <a href="/edit/{{ book.id }}" class="btn btn-secondary">Редактировать</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3 class="text-center">Книг не найдено. Добавьте свою первую книгу!</h3>
    <a href="/add_book" class="col-4 offset-4 btn btn-success d-block mx-auto">Добавить книгу</a>
    {% endif %}
</div>
{% endblock %}