{% extends "base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger text-center col-md-6 col-lg-4 mx-auto" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <form method="post" action="/login">
                <h2 class="text-center mb-3">Вход</h2>
                <div class="mb-3">
                    <label for="login" class="form-label">Логин</label>
                    <input type="text" class="form-control" name="login" id="login" required>
                </div>
                <div class="mb-3 position-relative">
                    <label for="password" class="form-label">Пароль</label>
                    <div class="input-group">
                        <input type="password" class="form-control" name="password" id="password" required>
                        <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                            👁️
                        </button>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-100 mt-4">Войти</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('togglePassword').addEventListener('click', function () {
        let passwordInput = document.getElementById('password');
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
        } else {
            passwordInput.type = 'password';
        }
    });
</script>
{% endblock %}