{% extends "base.html" %}
{% block content %}
{% if error %}
<div class="alert alert-danger col-6 offset-3" role="alert">
    {{ error }}
</div>
{% endif %}

<div class="raw">

    <form method="post" action="/login">
        <h2 class="col-6 offset-3 mb-3">Вход</h2>
        <div class="col-6 offset-3">

            <label for="login" class="form-label">Логин</label>
            <input type="text" class="form-control" name="login" id="login" required>
        </div>
        <div class="col-6 offset-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" name="password" id="password" required>
        </div>
        <button type="submit" class="btn btn-primary col-6 offset-3 mt-4 mb-4">Войти</button>
    </form>
</div>
{% endblock %}